<!DOCTYPE html>
<html>
<header>
  <nav>
    <ul>
      <li>
        <a href="/movies">All Movies</a>
      </li>
    </ul>
  </nav>
</header>
  <head>
    <title>Imdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="content">
    <%= yield %>
  </div>
  </body>

  <footer>
    <p>
      Copyright &copy; <%= Time.now.year %>
    </p>
  </footer>
</html>
